In [1]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [2]:
# Call the function.
say_hello()

Hello!

In [3]:
# Now we'll build on our knowledge of functions and add a parameter inside the parentheses of a 
# new function, say_something(). A parameter is a value that we send to the function.

# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [4]:
# Inside the parentheses, we added the variable something. When this function gets called, 
# it will print whatever we have added inside the parentheses of the function. 
# This doesn't have to be the word "something"; it can be whatever you want it to be.

# Call the function.
say_something("Hello World")

Hello World

In [5]:
# we can also pass a variable inside the function and have that variable printed to the output

Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [1]:
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [2]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [3]:
# Using the map() function we are going to change B to A, C to B, and D to C. 
# To change each string value in this Series to another value using the following format.
# map("current_value_1" : "new_value_1",  "current_value_2" : "new_value_2", etc)

# Change the grades by one letter grade.
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [4]:
# format() function syntax:
# "{value:format specification}".format(value)
# The "value" within the curly braces represents the value that we want to format, usually a variable.

# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [5]:
# We also apply the format() function to a Series or column in a DataFrame by 
# chaining the map() and format() functions.

# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

0    92.34
1    84.56
2    86.78
3    78.32
dtype: float64

In [6]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)

0    92
1    85
2    87
3    78
dtype: object